body {
  font-family: Helvetica;
  padding: 2em;
  background-color: whitesmoke;
  border: 3px solid red;
}

h1 {
  font-size: 2.5em;
}


.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#studyBox {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 100;

    height: 400px;
    margin-top: -200px;

    width: 600px;
    margin-left: -300px;
}

.stim {
  position: fixed;
  left: 50%;
  top: 50%;
  text-align: center;
}

.exp-info,
.exp-select {
  width: 100%;
  padding: 1em 3em 2em 2em;
  margin: 0.5em;
  color: whitesmoke;
  background-color: #E55126;
}

.button {
  padding: 0.75em 1.25em;
  background-color: whitesmoke;
  opacity: 0.9;
  width: 10em;
  color: black;
}

ul {
  list-style: none;
  padding: 0;
}

.projects {
  margin: 1em 0;
}

.active {
  background-color: #333333;
  color: whitesmoke;
}
