body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    color: black;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container {
    max-width: 1200px;
    margin: 20px auto;
    width: 100%;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
    height: 60px;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav-left {
    padding: 0 20px;
    color: white;
    display: flex;
    align-items: center;
}

.nav-right ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-right ul li {
    margin: 0 10px;
}

.nav-right ul li a {
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.nav-right ul li a:hover, nav ul li a.active {
    background-color: #555;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

.home-section {
    display: flex;
    justify-content: space-between;
}

.home-text {
    flex-basis: 60%;
}

.home-image {
    flex-basis: 40%;
}

.home-image img {
    width: 100%;
    height: auto;
}

.home-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.home-buttons button {
    border: 2px solid #000;
    background: #fff;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.home-buttons button:hover {
    background: #ddd;
}
