body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    color: black;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

/* Styles for screens with a max width of 600px (like smartphones) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 22px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    nav ul li a {
        font-size: 1.2em;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.4em;
    }
}
