body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    color: black;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-container {
    max-width: 1200px;
    margin: 20px auto;
    width: 100%;
}

nav {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 20px;
}

.links ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.links ul li {
    margin-left: 20px;
}

.links ul li a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-text {
    margin-right: 20px;
}

.landing-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

.additional-content {
    margin-top: 40px;
}

/* Styles for screens with a max width of 600px (like smartphones) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 22px;
    }

    .nav-container {
        flex-direction: column;
    }

    .name a {
        margin-bottom: 10px;
    }

    .links ul {
        flex-direction: column;
        align-items: center;
    }

    .links ul li {
        margin-bottom: 10px;
    }

    .links ul li a {
        font-size: 1.2em;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.4em;
    }

    .profile {
        flex-direction: column;
    }

    .profile-text {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .landing-image {
        width: 150px;
        height: 150px;
        margin-right: 0;
        margin-bottom: 20px;
    }
}
